.sidebar-menu {
  padding: 1rem;
  background: #222;
  color: white;
  height: 100vh;
  width: 200px;
}

.sidebar-menu h3 {
  margin-top: 0;
}

.sidebar-menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
}

.sidebar-menu a:hover {
  text-decoration: underline;
}
